body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.navbar-custom {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom .navbar-brand {
  font-weight: 800;
}

.nav-link {
  text-transform: uppercase;
}

.nav-link:hover, .navbar-brand:hover, .active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.text-shadow {
    text-shadow: 1.5px 1.5px black;
}

footer {
  padding: 50px 0 65px;
}

footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

img::selection {
  color: white;
  background: transparent;
}
